@inject NavigationManager NavigationManager
@page "/destination"
@using FireSharp.Config;
@using FireSharp.Interfaces;
@using FireSharp.Response;

<div class="container2">
    <h3 class="g11">Passenger:</h3>
    <select class="g12">
        <option value="Kam">Kam</option>
        <option value="Dave">Dave</option>
        <option value="Ben">Ben</option>
        <option value="Steve">Steve</option>
    </select>
    <h3 class="g14">Destination:</h3>
    <select class="g15">
        <option value="ChickFla">ChickFla</option>
        <option value="Subway">Subway</option>
        <option value="Chedders">Chedders</option>
        <option value="Chipotle">Chipotle</option>
        <option value="PDQ">PDQ</option>
        <option value="PDQ">Fire House</option>
    </select>

    <button class="g16 btn-danger" @onclick="OnSubmit">
        Submit
    </button>

</div>

@code {

     IFirebaseClient client;


    IFirebaseConfig config = new FirebaseConfig
    {
        AuthSecret = "II3bycCtijU0NplKxY7HoJ1e8YLtIY92PRYHdBRu",
        BasePath = "https://dazzling-torch-8270.firebaseio.com/"
    };

    protected override void OnInitialized()
    {
        client = new FireSharp.FirebaseClient(config);
        
    }


    private void OnSubmit()
    {
        client.Set("DavesTrain/destinations/1/name","QQQ");
        NavigationManager.NavigateTo("/");
    }

}
