@page "/"
@using DaveTrain.Data
@inject DateClient DateClient

    <div class="container">
        <h2 class="g0 h2">Welcome To</h2>
        <h2 class="g1 h2">DAVE's TRAIN</h2>
        <div class="g2">@currentWeekDay</div>
        <div class="g3">@currentMonth</div>

    </div>

@code{

    private DateClient _dateClient;
    private string currentWeekDay;
    private string currentMonth;

    protected override async Task OnInitializedAsync()
    {

        // result = await _dateClient.Client.GetStringAsync("http://worldclockapi.com/api/json/est/now");

    }

    protected override void OnInitialized()
    {
        _dateClient = DateClient;

        var dateTime = DateTime.Now;
        currentWeekDay = dateTime.DayOfWeek.ToString();
        currentMonth = DateTime.Now.ToString("MMMM") + " " + DateTime.Now.ToString("dd") +"," + DateTime.Now.ToString("yyyy");
    }

    //protected override void OnInitialized()
    //{

    //    Task j = GetDateAsync();

    //}
    // string hh = "strff";


    //private async Task GetDateAsync()
    //{
    //    //var response = await Http.GetStringAsync("http://worldclockapi.com/api/json/est/now");
    //    //hh = response;

    //   // var hh = await Http.GetAsync("http://worldclockapi.com/api/json/est/now");
    //}



    //public static class ApiHelper
    //{
    //    public static HttpClient ApiClient { get; set; }

    //    public static void IntitializeClient()
    //    {
    //        ApiClient = new HttpClient();
    //        ApiClient.DefaultRequestHeaders.Accept.Clear();
    //        ApiClient.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));
    //    }
    //}

    private string GetMonthByNumber(string n)
    {
        string month = string.Empty;

        return month;
    }


}




