@page "/result"
@inject NavigationManager NavigationManager
@inject PassengerService passengerService;
@inject DestinationService destinationService;
@using DaveTrain.Data
@using FireSharp.Config;
@using FireSharp.Interfaces;
@using FireSharp.Response;

@inject DestinationService destinationService;

    <div class="container3">
        <h2 class="g17">Current Votes:</h2>
        <div class="g18">
            @foreach (var item in Passengers)
            {
                <h5>@item.Name: @item.VotedFor</h5>
            }
        </div>

        <h2 class="g20">Destination: </h2>
        <h5 class="g21">@Winner</h5>
      
    </div>

@code {


    [Parameter]
    public List<PassengerModel> Passengers { get; set; }

    [Parameter]
    public string Winner { get; set; }
   
   
}
